/* Saanich Responsive Design Stylesheet By Christian Evans March 8, 2013 */
html {overflow-y: scroll;} /* Google Translate puts a scroll bar on all pages - this pre-loads the scroll bar so page doesn't jump */
* {margin: 0; padding: 0;}
body {
	font-family: Arial, 'Myriad Pro', Calibri, 'Gill Sans', 'Helvetica Neue';
	font-size: small;
	background: #083f68 url(bg.jpg) repeat-x;
	color: #313131;
	padding-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
	}
a {color: #00C}
  a img {border: 0;}
table {border-collapse: collapse; margin-bottom: 20px; max-width: 100%;}
  caption {font-weight: bold; text-align: left;}
  th {font-weight: normal; font-size: medium; text-align: left; color: #fff; background-color: #4f8d97; border: 1px solid #222; padding: 2px 4px;}
  td {text-align: left; vertical-align: top; border: 1px solid #222; padding: 2px;}
h1 a, h2 a, h3 a {text-decoration: none; color: #00563f;}
hr {margin-bottom: 10px;}
#logo-print {display: none;} /*hide print logo*/

/* ---------------------------------- Global -------------------------------------- */

#container {
	margin: 1% auto;
	max-width:1282px;
	}

.rounded {
	position: relative;
	background-color: #ffffff;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	}

/* ---------------------------------- Accessibility -------------------------------------- */

#top a, #tagline, #nav-site h1, .remove {
	position: relative;
	left: -9999px;
	height: 0;
	}

#top {
	height: 0;
	}

	/* skip to main content link */
	#top a:hover {
		text-decoration: underline;
		}

	#top a:focus, #top a:active {
	  	font-weight: bold;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		background-color: #000;
		color: #fff;
		border-bottom: 1px solid #e0aa0f;
		border-top: 1px solid #e0aa0f;
		text-decoration: none;
		text-align: center;
		padding: 4px;
		margin: 0;
		width: 100%;
		height: auto;
		outline: 0;
		}

/* ---------------------------------- Header -------------------------------------- */

#header {
	padding-bottom: 10px;
	font-size: smaller;
	}

/* using an image to replace text in an h1. This trick courtesy Douglas Bowman, http://www.stopdesign.com/articles/css/replace-text/ */
#logo h1 { 
	margin: 1%;
	background: transparent url(logo.png) no-repeat top left;
	width: 275px;
	height: 68px;
	float: left;
	cursor: pointer;
	}

  #logo h1 span {
	  display:none
	  }

#tools {
	float: right;
	margin: 1%;
	font-size: small;
	}

  #tools a {
	  text-decoration: none;
	  }
	  
	#tools a:hover {
		text-decoration: underline;
		}
	
	#tools a:visited {
		color: blue;
		}
   
  #tools ul li {
	  border-left: 1px solid black;
	  list-style: none;
	  display: inline;
	  padding-left: 5px;
	  }
  
	#tools ul li:first-child {
		border-left: none;
		}

#google_translate_element {
	float: right;
	margin-right: 1%;
	height: 25px;
	overflow: hidden;
	}

#search {
	clear: right;
	float: right;
	margin-right: 1%;
	}

  #search form fieldset {
	  border: none;
	  }
  
  #search form legend, #search form label {
	  border: none;
	  visibility: hidden;
	  font-size: 0;
	  height: 0;
	  width: 0;
	  overflow: hidden;
	  line-height: 0;
	  position: absolute;
	  left: -9999px;
	  }
  
  #search #searchBox {
	  -webkit-border-top-left-radius: 10px; -moz-border-top-left-radius: 10px; border-top-left-radius: 10px;
	  -webkit-border-bottom-left-radius: 10px; -moz-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px;
	  padding: 3px;
	  width: 170px;
	  border: 1px solid #988f86;
	  border-right: none;
	  outline: 0;
	  }

  .searchBackground {
	  background: url(search.png) no-repeat;
  }
  
  #search #btnG {
	  width: 23px;
	  height: 24px;
	  padding: 0;
	  border: 0;
	  background: transparent url(search-button.png) no-repeat top center;
	  text-indent: -9999em;
	  cursor: pointer;
	  }
  
  #search input {
	  vertical-align: middle;
	  }

@media screen and (max-width: 767px) {  
  #google_translate_element, #tools, #search {
	  clear: both;
	  float: none;
	  display: block;
	  margin: 3px;
	  }
}

/* ---------------------------------- Navigation - Site -------------------------------------- */

#nav-site {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	z-index: 80;
	background-color: #ccc;
	border-bottom: 1px solid #222;
	font-size: 115%;
	max-width: 100%;
	}

	/* Global*/
	#nav-site a {text-decoration: none; color: #222;}
	#nav-site a:hover, 
	#nav-site a:focus, 
	#nav-site a:active {color: #000;}
	#nav-site ul {list-style: none;}
	
	/* Top Level*/
	#nav-site .current {background-color: #ececec}
	#nav-site>ul {position: relative;}
	#nav-site>ul>li {float: left;}
	#nav-site>ul>li>a {display: block; font-weight: bold; border-left: 1px solid #333; padding: 4px 8px;}
	#nav-site>ul>li:first-child a {border-left: none;}
	#nav-site ul li.dropdown {position: relative;}
	#nav-site ul li.dropdown>a:hover, #nav-site ul li.dropdown>a:focus, #nav-site ul li.dropdown>a:active {background-color: #e0aa0f;}
	#nav-site ul li.megamenu>a:hover, #nav-site ul li.megamenu>a:focus, #nav-site ul li.megamenu>a:active {background-color: #e0aa0f;}
	
	/* Dropdown */
	#nav-site ul li.dropdown:hover ul, #nav-site ul li.dropdown a:focus + ul {top: 100%;}
	#nav-site ul li.dropdown ul {width: 220px; position: absolute; top: -3000px; left: 0; border: 1px solid #ccc; 
								 box-shadow: 3px 3px 4px #000; -moz-box-shadow: 3px 3px 4px #000; -webkit-box-shadow: 3px 3px 4px #000;}
	#nav-site ul li.dropdown ul li a {font-weight: normal; background: #f6f6f6; padding: 4px 8px; display: block;  border-bottom: 1px solid #ccc;}
	#nav-site ul li.dropdown ul li a:hover, #nav-site ul li.dropdown ul li a:focus {background-color: #e0aa0f;}

	/* Mega Menu */
	#nav-site ul li.megamenu:hover ul, #nav-site ul li.megamenu a:focus + ul {top: auto;}
	#nav-site ul li.megamenu>ul {position: absolute; top: -3000px; left: 1%; border: 1px solid #ccc; 
								 background-color: #f6f6f6; width: 95%; padding: 15px 0 15px 15px; height: auto;
								 -moz-box-shadow: 3px 3px 4px #000;	-webkit-box-shadow: 3px 3px 4px #000; box-shadow: 3px 3px 4px #000;}
	#nav-site ul li.megamenu>ul>li {width: 14%; float: left; margin: 0 13px 5px 0; font-size: medium;}
	#nav-site ul li.megamenu ul ul {border-top: 1px solid #ccc; padding-top: 3px;}
	#nav-site ul li.megamenu ul ul li {float: none; padding-bottom: 4px;}
	#nav-site ul li.megamenu ul li a {font-weight: normal; font-size: small; color: #00C;}
	#nav-site ul li.megamenu ul li a:hover {text-decoration: underline;}

@media screen and (max-width: 767px) {  
  #nav-site ul, #nav-site ul li.dropdown ul, #nav-site ul li.megamenu>ul {
	  display: none;
	  }

  #nav-site a {
	  font-size: larger;
	  }

  #nav-site li {
	  width: 100%;
	  }
	  
  #nav-site>ul>li>a {
	  border-left: none;
	  border-top: 1px solid #000000;
	  background: url(/ui/images/icon-arrow-curve.png) 99% center no-repeat;
	  }
	  
  #nav-site h1 {
	  left: 0;
	  height: auto;
	  padding: 5px;
	  border-top: 1px solid #000000;
	  cursor: pointer;
	  background: url(/ui/images/icon-plus.png) 99% center no-repeat;
	  }
  
  #nav-site .menu {
	  background: url(/ui/images/icon-minus.png) 99% center no-repeat;
	  }
}

/* ---------------------------------- Page section -------------------------------------- */

#page {
	position: relative;
	margin: 0 auto;
	padding-bottom: 15px;
	}

#tHome #page p.rssHover {
	cursor: pointer;
	position: relative;
	background: #e0aa0f;
	background: -moz-linear-gradient(right, #e0aa0f, #fff);
	background: -webkit-gradient(linear, right top, left top, from(#e0aa0f), to(#fff));
	background: -webkit-linear-gradient(right, #e0aa0f, #fff);
	background: -ms-linear-gradient(right, #e0aa0f, #fff);
	background: -o-linear-gradient(right, #e0aa0f, #fff);
	}

#page #breadcrumb {
	padding: 0 1% 1% 1%;
	color: #988f86;
	font-size: smaller;
	}
	
	#page #breadcrumb a {
		color: #988f86;
		text-decoration: none;
		}

	#page #breadcrumb a:hover, #page #breadcrumb a:focus {
		color: #222;
		}

#page #pageTools {
    font-family: 'Myriad Pro', Calibri, 'Gill Sans', 'Helvetica Neue', Arial;
	color: #666;
	clear: both;
	margin-top: 10px;
	margin-right: 7px;
	text-align: right;
	}

#page form td, #page form th, #page form tr {border: none;}

#page #nav-local {
	float: left;
	width: 175px;
	margin-left: 1px;
	overflow: hidden;
	}

  #page #nav-local h1 {
	  font-size: medium;
	  font-weight: normal;
	  padding: 2px 3px 2px 13px;
	  border-top: 1px solid #988f86;
	  border-bottom: 1px solid #988f86;
	  background-color: #ececec;
	  margin: 0;
	  }

  #page #nav-local ul {list-style: none;}
  #page #nav-local ul li a {color: #313131; padding: 4px 3px 4px 13px; border-bottom: 1px solid #988f86; display: block; text-decoration: none;
							  background: #f6f6f6 url(/ui/images/nav-bullet.png) no-repeat 2px 8px;}
  #page #nav-local ul li a:focus,
  #page #nav-local ul li a:hover {background: #fff url(/ui/images/nav-bullet-current.png) no-repeat 2px 8px; outline: none;}
  #page #nav-local ul li.parent>a {background-image: url(/ui/images/nav-bullet-parent.png);}
  #page #nav-local ul li.current>a {background-image: url(/ui/images/nav-bullet-current.png); font-weight: bold;}
	#page #nav-local ul ul li a,
	#page #nav-local ul ul li a:focus,
	#page #nav-local ul ul li a:hover {padding-left: 26px; background-position: 13px 10px;}
	  #page #nav-local ul ul ul li a,
	  #page #nav-local ul ul ul li a:focus,
	  #page #nav-local ul ul ul li a:hover {padding-left: 39px;	background-position: 26px 10px;}
	  	  #page #nav-local ul ul ul ul li a,
		  #page #nav-local ul ul ul ul li a:focus,
		  #page #nav-local ul ul ul ul li a:hover {padding-left: 52px; background-position: 39px 6px; font-size: smaller;}
	  	  #page #nav-local ul ul ul ul ul li a,
		  #page #nav-local ul ul ul ul ul li a:focus,
		  #page #nav-local ul ul ul ul ul li a:hover {padding-left: 57px; background-position: 44px 6px; font-size: smaller;}

@media screen and (max-width: 767px) {
  #page #nav-local {
	  display: none;
	  }
}

/* ---------------------------------- Content section -------------------------------------- */

#content {
	margin-top: -6px;
	margin-left: 176px;
	position: relative;
	padding: 0 1% 1% 1%;
    font-family: 'Myriad Pro', Calibri, 'Gill Sans', 'Helvetica Neue', Arial;
	font-size: 115%;
	overflow: auto;
	overflow-y: hidden;
	}

  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, 
  #content caption, #content div, #content dt, #content dd {margin-bottom: 7px;}
    #content img {max-width: 100%; height: auto;}
    #content p, #content dl {margin-bottom: 13px;}
	#content h2, #content h3, #content h4, #content h5, #content h6 {padding-top: 8px;}
	#content h1 {font-size: x-large; font-weight: normal;}
	#content h2, #content form fieldset legend {color: #768D10; font-weight: normal; font-size: 140%;}
	#content h3 {color: #00563f; font-weight: normal; font-size: large;}
	#content dd {margin-left: 30px;}
  #content form fieldset {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border: 1px dashed #4E4E4E;}
  #content form input.button {font-weight: 600;}
  #content blockquote {margin: 0 25px 13px 25px; border: 1px solid #ccc; background-color: #f6f6f6; padding: 3px; overflow: auto;}
	#content blockquote p {margin: 0; padding: 3px 0;}
  #content ul, #content ol {margin: 0 0 13px 0; overflow: hidden; padding-left: 25px;}
	#content ul ul, #content ol ol, #content ul ol, #content ol ul {margin-bottom: 0;}
	#content li {padding: 5px 2px 0 2px;}	
  #content form {margin-bottom: 7px;}
	#content fieldset {padding: 7px; margin-bottom: 7px;}
	#content legend {padding: 5px; font-weight: bold; font-size: larger;}
  #content div.sidebar {width: 200px; float: right; margin-left: 10px; margin-bottom: 10px;
  	padding: 0 10px; background-color: #fff; border: 1px solid #ccc; overflow: hidden;
	border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;
	box-shadow: 3px 3px 4px #A2A2A2; -moz-box-shadow: 3px 3px 4px #A2A2A2; -webkit-box-shadow: 3px 3px 4px #A2A2A2;	position: relative;}
    #content div.sidebar img {max-width: 200px; border: 1px solid #ccc;}
	#content div.sidebar h2 { border-bottom: 1px solid #000; font-size: medium; font-weight: normal; color: #000; padding-bottom: 3px;}
  #content div.column2, #content div.column3, #content div.column4 {float: left; min-width: 185px; padding-right: 1%; overflow: hidden;}
	#content div.column2 {width: 48%;}
	#content div.column3 {width: 32%;}
	#content div.column4 {width: 23%;}

@media screen and (max-width: 320px) {
	#content div.column2 {width: 100%;}
	#content div.column3 {width: 100%;}
	#content div.column4 {width: 100%;}
}

  #content #more-info {
		width: 200px;
		float: right;
		position: relative;
		margin: 10px 0 10px 2%;
		border: 1px solid #222;
		padding: 0 5px 5px 5px;
		background-color: #ffffff;
		border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;
		box-shadow: 3px 3px 4px #A2A2A2; -moz-box-shadow: 3px 3px 4px #A2A2A2; -webkit-box-shadow: 3px 3px 4px #A2A2A2;
		overflow: hidden;
		}
  
	#content #more-info h2 {
		color: #000;
		font-size: medium;
		font-weight: normal;
		margin: 0 -5px 10px -5px;
		padding: 3px 5px;
		border-bottom: 1px solid #222;
		border-top-left-radius: 7px; -webkit-border-top-left-radius: 7px; -moz-border-radius-topleft: 7px;
		border-top-right-radius: 7px; -webkit-border-top-right-radius: 7px; -moz-border-radius-topright: 7px;
		background: #e0aa0f;
		background: -webkit-gradient(linear, left top, right top, from(#E1C26C), to(#e0aa0f));
		background: -moz-linear-gradient(left, #E1C26C, #e0aa0f);
		background: -webkit-linear-gradient(left, #E1C26C, #e0aa0f);
		background: -ms-linear-gradient(left, #E1C26C, #e0aa0f);
		background: -o-linear-gradient(left, #E1C26C, #e0aa0f);
		}

	#content .banner {
		position: absolute;
		color: #fff;
		/* Fallback for web browsers that don't support RGBa */
		background-color: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background-color: rgba(0, 0, 0, 0.6);
		padding: 3px 10px 3px 10px;
		margin-top: 15px;
		letter-spacing: 3px;
		max-width: 75%;
		overflow: auto;
	}

	#content #pic {
		background: #FFFFFF url(logo-white.png) no-repeat 98% center;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		}

	#content #pic img {
		display: block;
		max-height: 132px;
	}

@media screen and (max-width: 767px) {
  #content {
	  	margin-left: 0;
	  }
}

@media screen and (max-width: 320px) {
  #content #more-info {
		float: none;
		margin: 10px auto;
		padding: 0 3px 3px 3px;
		}
}

/*Helios Calendar RSS Feed styles*/

#content div.container {
	height: 200px;
	padding: 5px;
	border: 1px solid #ccc;
	overflow: auto;
	}

#content div.events a.rss {
	  padding-right: 18px;
	  background: transparent url(/ui/images/icon-feeds-14x14.png) no-repeat center right;
	  }

  #content div.events #eventtools {
      float: right; 
	  margin: auto auto 5px 5px;
	  }

  #content div.events .date {
	  color: #666;
	  }
	  
  #content div.events div.description {
	  margin: 7px auto 25px auto;
	  }

/*Helios Calendar jScript Syndication styles*/

#content #cal ul {
	list-style: none;
	margin-left: 0;
	}

  #content #cal ul li:last-child {
	  display: none;
	  }
  
  #content #cal li.date {
	  font-weight: bold;
	  border-bottom: 1px solid #000;
	  margin-top: 15px;
	  }

/* ---------------------------------- Footer -------------------------------------- */

#footer {
	margin: 0 auto;
	color: #fff;
	}

#footer a {
	color: #fff;
	text-decoration: none;
	}
	
#footer a:hover {
	text-decoration: underline;
	}

#footer #sitemap {
	background: #707070;
	border: 1px solid #fff;
	padding: 10px 10px 10px 0;
	overflow: auto;
	position: relative;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px;
	}

#footer ul.sitemapList {
	float: left;
	list-style: none;
	margin: 0 25px 15px 0;
	}

#footer ul.sitemapList ul {
	list-style: none;
	margin-left: 10px;
	}

#footer ul.sitemapList h2 {
	border-bottom: 1px solid #fff;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 5px;
	font-size: large;
	font-weight: normal;
	}

#footer #address {
	float: right;
	padding-top: 100px;
	text-align: right;
	}

#footer #footer-links {
	position: absolute;
	right: 0;
	}

#footer #footer-links ul {
	list-style: none;
	margin: 7px 7px 0 0;
	}

  #footer #footer-links ul li {
	  border-left: 1px solid #fff;
	  display: inline;
	  padding: 0 7px;
	  }
  
	#footer #footer-links ul li:first-child {
		border-left: none;
		}

@media screen and (max-width: 767px) {
  #footer #footer-links {
	  left: 0;
	  }
  #footer #footer-links ul {
	  margin: 10px 5px;
	  }
  
	#footer #footer-links ul li {
		font-size: 110%;
		border-left: none;
		display: list-item;
		padding-bottom: 5px;
		margin: 0;
		}
		
  #footer #address {
	  font-size: smaller;
	  }
	  
  #footer #sitemaplist {
	  font-size: 110%;
	  }
}

/* ---------------------------------- Template - Homepage -------------------------------------- */

#tHome #branding {
	clear: both;
	position: relative;
	border-bottom: 1px solid #333;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: url(brand01.jpg) center;
	background-size: cover;
	}

#tHome #brandImages {
	display: none;
	}

#tHome #quickLinks {
	font-size: small;
	float: right;
	position: relative;
	margin: 10px 3% 10px 3%;
	border: 1px solid black;
	background-color: #fff;
	min-width: 180px;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	box-shadow: 3px 3px 4px #000; -moz-box-shadow: 3px 3px 4px #000; -webkit-box-shadow: 3px 3px 4px #000;
	}

  #tHome #quickLinks h1 {
	  font-size: small;
	  background-color: #e0aa0f;
	  padding: 5px;
	  -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px;
	  -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px;
	  background: #e0aa0f;
	  background: -webkit-gradient(linear, left top, right top, from(#e0aa0f), to(#E1C26C));
	  background: -moz-linear-gradient(left, #e0aa0f, #E1C26C);
	  background: -webkit-linear-gradient(left, #e0aa0f, #E1C26C);
	  background: -ms-linear-gradient(left, #e0aa0f, #E1C26C);
	  background: -o-linear-gradient(left, #e0aa0f, #E1C26C);
	  }
  
  #tHome #quickLinks ul {
	  list-style: none;
	  padding: 5px;
	  }
  
  #tHome #quickLinks ul li {
	  margin-bottom: 5px;
	  }
  
  #tHome #quickLinks a {
	  text-decoration: none;
	  }
  
  #tHome #quickLinks a:hover {
	  text-decoration: underline;
	  }

@media screen and (max-width: 767px) {
#tHome #quickLinks {
	float: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	}
}

#tHome #page {
	padding-bottom: 10px;
	overflow: hidden;
	}

  #tHome #page h1 {
	  font-size: small;
	  padding: 5px;
	  border-bottom: 1px solid #7E7E7E;
	  -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px;
	  -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px;	
	  background: #ccc;
	  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee));
	  background: -moz-linear-gradient(top, #ccc, #eee);
	  background: -webkit-linear-gradient(top, #ccc, #eee);
	  background: -ms-linear-gradient(top, #ccc, #eee);
	  background: -o-linear-gradient(top, #ccc, #eee);
	  }

#tHome .more {
	text-align: right;
	margin-top: 5px;
	}

#tHome .moreLink {
	padding-right: 18px;
	background: transparent url(/ui/images/icon-arrow-14x14.png) no-repeat center right;
	}

#tHome .share {
	padding: 0 5px 5px 5px;
	}

#tHome #page p.rssLinks {
	padding-bottom: 10px;
	}

#tHome #page p.rssLinks a {
	text-decoration: none;
	font-weight: bold;
	}
	
#tHome #page p {
	padding: 5px;
	}
	
#tHome #col1, #tHome #col2, #tHome #col3 {
	width: 32%;
	margin-left: 1%;
	float: left;
	}

@media screen and (max-width: 767px) {
#tHome #col1, #tHome #col2, #tHome #col3 {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	}
}

#tHome #col2 .engage {
	float: right;
	width: 70px;
	margin-top: 3px;
	}

#tHome #col3 #calendar {
	margin: 0px 3px 3px 0px;
	float: right;
	width: 68px;
	height: 77px;
	background: url(/ui/images/icon-calendar.png) top left no-repeat;
	}

  #tHome #col3 #calendar p {padding: 0px; margin: 0px; font-family: 'Myriad Pro', Calibri, 'Gill Sans', 'Helvetica Neue', Arial;}
  #tHome #col3 #calendar p#month {margin: 7px 0px 0px 6px; font-size: 14px; color: white;}
  #tHome #col3 #calendar p#day { margin-left: 13px; font-size: 36px;}

#tHome #sect-1, #tHome #sect-2, #tHome #sect-3, #tHome #sect-4, #tHome #sect-5 {
	position: relative;
	border: 1px solid #7E7E7E;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	overflow: hidden;
	margin-bottom: 7px;
	height: auto;
	}

#slider {
	position: relative;
	}

  #tHome #slider img {
	  display: none;
	  }

  #tHome #slider .featureText {
	  position: relative;
	  top: 20px;
	  font-family: 'Myriad Pro', Calibri, 'Gill Sans', 'Helvetica Neue', Arial;
	  width: 250px;
	  padding: 3px;
	  background-color: #ececec;
	  opacity: 0.92;
	  box-shadow: 0px 0px 6px 1px #1A1A1A; -moz-box-shadow: 0px 0px 6px 1px #1A1A1A; -webkit-box-shadow: 0px 0px 6px 1px #1A1A1A;
	  }
  
  #tHome #slider h2 {
	  font-size: 18px;
	  font-weight: normal;
	  padding-bottom: 2px;
	  }
  
  #tHome #slider p {
	  padding: 0px;
	  font-size: 13px;
	  }
  
  #tHome #slider a {
	  color: #000;
	  text-decoration: none;
	  }

  #tHome #slider li {
	  background-size: cover;
	  cursor: pointer;
	  }

  #tHome ol#controls {
	  display: inline-block;
	  position: relative;
	  left: 50%;}
	  
  #tHome ol#controls li {
	  position: relative;
	  right: 50%;
	  }

#tHome #emergency {
	display: none;
	}

#tHome .date {
	font-size: 90%;
	color: #818181;
	}

/* ---------------------------------- Template - Landing Page -------------------------------------- */

#tLanding #content {
	margin: 0;
	padding: 0;
	}

#tLanding #content #summary, #tLanding #content #postsummary, #tLanding #content #see-also h2 {
	margin-left: 1%;
	margin-right: 1%;
	}

#tLanding .section {
	position: relative;
	width: 47.7%;
	height: 119px;
	overflow: hidden;
	float: left;
	border: 1px solid #ccc;
	margin: 0 0 14px 1%;
	padding-right: 7px;
	border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;
	}

  #tLanding .section:hover {
	  cursor: pointer;
	  background: -webkit-gradient(linear, left top, right top, from(#e0aa0f), to(#E1C26C));
	  background: -moz-linear-gradient(left, #e0aa0f, #E1C26C);
	  background: -webkit-linear-gradient(left, #e0aa0f, #E1C26C);
	  background: -ms-linear-gradient(left, #e0aa0f, #E1C26C);
	  background: -o-linear-gradient(left, #e0aa0f, #E1C26C);
	  }
  
  #tLanding .section img {
	  position: relative;
	  float: left;
	  width: 179px; 
	  height: 119px;
	  margin-right: 7px;
	  border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;
	  }
  
  #tLanding .section a {
	  font-size: medium;
	  font-weight: bold;
	  color: #000;
	  text-decoration: none;
	  }
  
  #tLanding .section p {
	  margin: 3px 0 2px 0;
	  }

#tLanding #summary, #tLanding #postsummary {
	padding: 10px 0;
	overflow: hidden;
	}

#tLanding #postsummary, #tLanding #see-also {
	clear: both;
	}

#tLanding #page .dateLastMod {
	display: none;
	}

@media screen and (max-width: 767px) {
  #tLanding .section {
	  width: 95%;
	  float: none;
	  padding-right: 4px;
	  margin-left: auto;
	  margin-right: auto;
	  }
	  
	#tLanding .section img {
		margin-right: 4px;
		}
}

@media screen and (max-width: 480px) {
  #tLanding .section {
	  padding: 0;
	  height: auto;
	  }
	  
	#tLanding .section img {
		width: 50%;
		height: auto;
		float: right;
		margin: 0 0 3px 3px;
		}
		
	#tLanding .section p {
		padding-left: 3px;
		padding-right: 3px;
		}
}

@media screen and (min-width: 1280px) {
#tLanding .section {
	width: 31.4%;
	}
}

/* ---------------------------------- Template - Wide Page -------------------------------------- */

#tWide #content {
	margin: 0;
	padding: 0 7px 7px 7px;
	}


/* ---------------------------------- Template - add other templates below -------------------------------------- */

/* ---------------------------------- Misc -------------------------------------- */

.clearfloats {
	clear: both;
	}

.false {
	display: none;
	}

a[href *='webapp/rss/RssFeeder'] {
	padding-right: 18px;
	background: transparent url(/ui/images/icon-feeds-14x14.png) no-repeat center right;
	}

.share {height: 18px; overflow: hidden;} /*AddThis plugin*/
#content p.rssLinks {margin-bottom: 0;} /*remove regular paragraph spacing for AddThis plugin*/

.small {
	font-size: smaller;
	}

.link {
	color: #00C;
	cursor: pointer;
	text-decoration: underline;
	}

.scroll {
	overflow: auto;
	}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	}

iframe.autosize {  /* iFrame jQuery plugin */
	overflow: hidden;
	border: none;
	width: 100%;
	}

#content .tweet-container { /* Tweet jQuery plugin */
	border: 1px solid #cccccc;
	background-color:#FDFBDB;
	padding: 0 5px;
	position: relative;
	overflow: hidden;
	}
  #content .tweet * {margin: 0; padding: 0;}
  #content .tweet ul {list-style: none;}
  #content .tweet a {font-size: smaller;}

.slideToggle { /* For jQuery slide Toggle in actions.js */
    cursor: pointer;
	display: block;
	color: #0000ff;
	text-decoration: underline;
	}

.highlight-box { border: 1px solid #FBE66F; background-color:#FEFBC2; padding: 5px;}
.highlight-box-2 { border: 1px solid #222222; background-color:#e6f2ff; padding: 5px; margin-left: 25px; margin-right: 25px;}
  .highlight-box-2 h2 {border-bottom: 1px solid black;}

.left {float:left;}