#top {
	height: 7px;
	}

#container {
	margin-top: 0;
	}

#search #btnG {
	  font-size: 0px;
	  line-height: 0;
	  background: url(search-button-ie.png);
	}

#content #more-info, #tHome #quickLinks {
	-pie-background: linear-gradient(#e0aa0f 26px, #fff 26px);
	behavior: url(/ui/styles/pie.htc);
	}

  #content #more-info h2 {
	  background: none;
	  }
	  
  #content .banner, #overlay {
	-pie-background:rgba(0,0,0,0.6);
	behavior: url(/ui/styles/pie.htc);
	  }

#tHome #branding, #tHome #branding img, #tHome #sect-1, #tHome #sect-2, #tHome #sect-3, #tHome #sect-4, #tHome #sect-5, #tLanding .section, #tLanding .section img, #nav-site ul li.dropdown ul, #nav-site ul li.megamenu>ul, #content div.sidebar, #content form fieldset, .rounded, #footer #sitemap {
	behavior: url(/ui/styles/pie.htc);
	}

  #tHome #quickLinks h1, #tHome #page h1 {
	  background: none;
	  }
	  
#tHome #sect-1, #tHome #sect-2, #tHome #sect-3, #tHome #sect-4, #tHome #sect-5 {
	-pie-background: linear-gradient(#ccc 10px, #eee 28px, #fff 28px);
	behavior: url(/ui/styles/pie.htc);
	}

#tHome p.rssHover {
	-pie-background: linear-gradient(0deg, #fff, #e0aa0f);
	behavior: url(/ui/styles/pie.htc);
	}

#tHome #slider .featureText {
	filter:alpha(opacity=92);
	}

#tLanding .section:hover {
	-pie-background: linear-gradient(0deg, #e0aa0f, #E1C26C);
	}