#header {
	margin-top: 0px;
	}

#search #btnG {
	  font-size: 0px;
	  line-height: 0;
	  background: url(search-button-ie.png);
	}

/*  ONLY needed in quirks (compatability) mode in IE8
  #google_translate_element {
	float: right;
	margin: 33px 75px 0px 0px;
	height: 26px;
	overflow: hidden;
	}*/

#tHome #nav-site {
	border-radius: 3px;
	behavior: url(/ui/styles/2012/pie.htc);
	}

#content #more-info, #tHome #quickLinks {
	-pie-background: linear-gradient(#e0aa0f 26px, #fff 26px);
	behavior: url(/ui/styles/2012/pie.htc);
	}

  #content #more-info h2 {
	  background: none;
	  }
	  
  #content .banner, #overlay {
	-pie-background:rgba(0,0,0,0.6);
	behavior: url(/ui/styles/2012/pie.htc);
	/*filter:alpha(opacity=70);*/	  
	  }

#tHome #branding, #tHome #branding img, #tHome #sect-1, #tHome #sect-2, #tHome #sect-3, #tHome #sect-4, #tHome #sect-5, #tLanding .section, #tLanding .section img, #nav-site ul li.dropdown ul, #nav-site ul li.megamenu>ul, #content div.sidebar, #content form fieldset {
	behavior: url(/ui/styles/2012/pie.htc);
	}

  #tHome #quickLinks h1, #tHome #page h1 {
	  background: none;
	  }
	  
#tHome #sect-1, #tHome #sect-2, #tHome #sect-3, #tHome #sect-4, #tHome #sect-5 {
	-pie-background: linear-gradient(#ccc 10px, #eee 28px, #fff 28px);
	behavior: url(/ui/styles/2012/pie.htc);
	}

  #tHome #sect-4, #tHome #sect-2 {
	  height: 291px;
	  }

#tHome p.rssHover {
	-pie-background: linear-gradient(0deg, #fff, #e0aa0f);
	behavior: url(/ui/styles/2012/pie.htc);
	}

#tHome #slider .featureText {
	filter:alpha(opacity=92);
	}

#tLanding .section:hover {
	-pie-background: linear-gradient(0deg, #e0aa0f, #E1C26C);
	}