#header, #top, #tagline, #nav-site, .remove, #emergency, #calendar, #controls, #footer-links, #morenews, #moreengagement, .share, .false, #nav-local {
	display: none;
	}

body {
	font-family: "Times New Roman", Times, serif;
	background: #fff;
	color: #000;
	}

a {text-decoration: underline;}

th {background-color: #000;}

#logo-print {
	display: block;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
	}

#logo-print img {
	width: 300px;
	height: 74px;
	}

#tHome #page h1, #content h1 {
	border: none;
	display: block;
	background: none;
	font-size: large;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 3px;
	}

/* ---------------------------------- Template - Homepage -------------------------------------- */

#page, #page div, #tHome #sect-1, #tHome #sect-2, #tHome #sect-3, #tHome #sect-4, #tHome #sect-5, .scroll, #column1, #column2, #column3 {
	float: none;
	border: none;
	min-height: none;
	max-height: none;
	min-width: inherit;
	max-width: none;
	width: auto;
	height: auto;
	margin: auto;
	padding: 0px;
	overflow: auto;
	}

/* ---------------------------------- Default Page -------------------------------------- */

#page #breadcrumb {padding: 0px;}

#page #breadcrumb a {
	color: #000;
	text-decoration: underline;
	}

#content {
	margin: auto;
	padding: 0px;
	}

  #content #more-info {
		width: 200px;
		float: right;
		margin: 0px 0px 13px 7px;
		border: 1px solid #222;
		padding: 0px 5px;
		}
  #content #more-info h2 {
	  margin: auto;
	  padding: 0px;
	  }

#page #page-tools {
	margin: auto;
	}

/* ---------------------------------- Footer -------------------------------------- */

#footer {
	width: auto;
	max-width: none;
	color: #000;
	border-top: 1px solid black;
	margin-top: 20px;
	}

#footer #sitemap {
	background: none;
	border: none;
	padding: 0px;
	}

#footer .sitemapList  {
	display: none;
	}

#footer #address {
	display: block;
	float: none;
	padding: 0px;
	}

