body 
{
	font-family: Myriad Pro, Calibri, Gill Sans, Helvetica Neue, Arial;
	font-size: 11pt;
	font-weight: normal;
	color: #000000;
	background: #083f68;
	background-image: url("/images/bg/blue.jpg");
	background-repeat:repeat-x;
	margin: 0px;
	padding: 0px;
}

#spaced li
{
	margin-top: 1em;
}

#spaced ol
{
	margin-top: 1em;
}

#navTable td
{
	border-spacing:10px; 
}

#tableright {
	width: 38%;
	margin-left: 1em;
	float:right;
	background-color: #e0e0e0;
}

#tablecontent {
	border-width: 3px 3px 3px 3px;
	border-color: #dadbd7 #dadbd7 #dadbd7 #dadbd7;
	border-style: outset outset outset outset;
	border-collapse: collapse;
	background-color: #e0e0e0;
}

#tablecontent td{
	border-width: 2px 2px 2px 2px;
	cellpadding: 2px 2px 2px 2px;
	cellspacing: 0px 0px 0px 0px;
 	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
}

p.disclaimer
{
	font-size: 8pt;
}

font.subheader, p.subheader, span.subheader
{
	font-size: 15pt;
	font-weight:bold;
	margin: 0;
}

font.header, p.header, span.header
{
	font-size: 20pt;
	font-weight: bold;
	margin: 0;
}

p.greenheader
{
	font-size: 16pt;
	font-weight:bold;
	color: #768d10;
	margin-bottom: 0em;
	padding-top: 0em;
	margin-top: 0em;
}

#vertmenu {
	margin-right: 7px;
}

#vertmenu ul {
list-style: none;
margin: 0px;
padding: 0px 0px 0px 10px;
border: none;
}

#vertmenu ul li a {
font-size: 90%;
display: block;
border-bottom: 1px dotted #b2b2b2;
padding: 5px 0px 2px 4px;
text-decoration: none;
color: #000000;
width:180px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
color: #297d16;
}

.breadcrumb
{
	color: #949694;
	text-align: left;
}

a:link.whatsnew {color: #000000; font-weight:bold; text-decoration: none}
A:visited.whatsnew {color: #000000; font-weight:bold; text-decoration: none}
A:active.whatsnew {color: #000000; text-decoration: none}
A:hover.whatsnew {color: #848383;}

a:link.header {color: #5a5a5a; font-size:12; text-decoration: none}
a:visited.header {color: #5a5a5a; font-size:12; text-decoration: none}
a:active.header {color: #5a5a5a; text-decoration: none}
a:hover.header {color: #797878;}

a:link.breadcrumb {color: #848584; font-size:12; text-decoration: none}
a:visited.breadcrumb {color: #848584; font-size:12; text-decoration: none}
a:active.breadcrumb {color: #848584; text-decoration: none}
a:hover.breadcrumb {color: #000000;}

a:link.popular {color: #693c41; text-decoration: none}
a:visited.popular {color: #693c41; text-decoration: none}
a:active.popular {color: #693c41; text-decoration: none}
a:hover.popular {color: #277215;}

a:link.departmentLink {color: #000000; text-decoration: none; font-size: 13pt; font-weight:bold;}
a:visited.departmentLink {color: #000000; text-decoration: none; font-size: 13pt; font-weight:bold;}
a:active.departmentLink {color: #693c41; text-decoration: none; font-size: 13pt; font-weight:bold;}
a:hover.departmentLink {color: #277215; font-size: 13pt;}

a:link.agndmin {color: #184ed7; font-size:12; font-weight:bold;}
a:visited.agndmin {color: #184ed7; font-size:12; font-weight:bold;}
a:active.agndmin {color: #f3230d; font-weight:bold;}
a:hover.agndmin {color: #f3230d;}

a:link.black {color: #000000; text-decoration: none}
A:visited.black {color: #000000; text-decoration: none}
A:active.black {color: #000000; text-decoration: none}
A:hover.black {color: #000000; text-decoration: none}

a:link {color: #2249db;}
A:visited {color: #2249db;}
A:active {color: #dfb01f;}
A:hover {color: #dfb01f;}
.



