@charset "utf-8";
/* CSS Document for CGI forms */

body {
	font-family: Arial, 'Myriad Pro', Calibri, 'Gill Sans', 'Helvetica Neue';
	font-size: small;
	background: #083f68 url("bg.jpg") repeat-x;
	color: #313131;
	}

.error {
	background: transparent url(logo.png) no-repeat 20px 10px; 
	margin: 25px auto;
	padding: 85px 20px 10px 20px;
	max-width: 550px;
	background-color: #fff;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
	}
	
.error h1 {
	color: #768D10;
	font-size: large;
	font-weight: normal;
	}