p {  font-family: "Times New Roman", Times, serif; font-size: 16px; color: #000000}
a {  text-decoration: none; color: #0000CC}
li {  font-family: "Times New Roman", Times, serif; font-size: 16px; color: #000000; list-style-type: circle}
h3 {  font-family: "Times New Roman", Times, serif; font-size: 18px; color: #0066FF}
font {  font-family: "Times New Roman", Times, serif; font-size: 16px; color: #000000}
h2 {
	font-family: "Times New Roman", Times, serif;
	color: #003399;
	font-size: 24px;

}
h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	color: #006633;
}
ul {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}
