
/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 0px;
 margin-right: 2px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DB531F;
 text-decoration: none;
 font-weight:bold;
}

ul.tabbernav li a:link { color: #FFFFFF; }
ul.tabbernav li a:visited { color: #FFFFFF; }

ul.tabbernav li.tabberactive a:link { color: #000; }
ul.tabbernav li.tabberactive a:visited { color: #000; }

ul.tabbernav li a:hover
{
 color: #FFFFFF;
 background: #22338B;
 border-color: #227;
 font-weight:bold;
}

ul.tabbernav li.tabberactive a
{
 background-color: #D8D3CF;
 border-bottom: 1px solid #000;
}

ul.tabbernav li.tabberactive a:hover
{
 background-color: #D8D3CF;
 border-bottom: 1px solid #000;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;
 

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 height:350px;

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 overflow:auto; 
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}

/* Style Sheet for GUI Standards */
/* styles for main application window */


/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.urbangreymenu{
width: 190px; /*width of menu*/
}

.urbangreymenu2{
width: 190px; /*width of menu*/
}

.urbangreymenu3{
width: 190px; /*width of menu*/
}

.urbangreymenu4{
width: 190px; /*width of menu*/
}

.urbangreymenu .headerbar{
font: bold 13px Verdana;
color: white;
background: #606060 url(media/arrowstop.gif) no-repeat 8px 6px; /*last 2 values are the x and y coordinates of bullet image*/
margin-bottom: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 7px 0 7px 31px; /*31px is left indentation of header text*/
padding-top: 12px;
}

.urbangreymenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu2 ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu3 ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu4 ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li a{
font: normal 12px Arial;
color: #000000;
background: #F4C853;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.urbangreymenu2 ul li a{
font: normal 12px Arial;
color: #FFFFFF;
background: #689541;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.urbangreymenu3 ul li a{
font: normal 12px Arial;
color: #FFFFFF;
background: #86C054;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.urbangreymenu4 ul li{
font: normal 12px Arial;
color: #FFFFFF;
background: #98DA60;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
color: #000000;
background: #F8DB8D;
}

.urbangreymenu2 ul li a:hover{ /*hover state CSS*/
color: white;
background: #419494;
}

.urbangreymenu3 ul li a:hover{ /*hover state CSS*/
color: white;
background: #54C0C0;
}

body 
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	background: #616161;
}

.roundbox-tr {
	width: 181px;
	margin:left; 
	padding:5; 
	background:url("../image/roundbox_tr.gif") no-repeat right top; 
	font: bold 13px Verdana;
	color: white;
}

.middle {
	width: 180px;
	margin:left;
	padding:5; 
	background:#577D36; 
	font: bold 13px Verdana;
	color: white;
}

.middle2 {
	width: 180px;
	margin:left;
	padding:5; 
	background:#7AAF4D; 
	font: bold 13px Verdana;
	color: white;
}

.middle3 {
	width: 180px;
	margin:left;
	padding:5; 
	background:#90CE5A; 
	font: bold 13px Verdana;
	color: white;
}

table.content
{
	color: #000000;
	background-color: #FFFFFF;
	border-spacing: 0px;
}

table.content td 
{
	padding: 0px 0px 0px 0px;
}

table.content td.footer
{
	color: #000000;
	border-top: 1px solid #000000;
	padding: 10px;
}

table.homeContent
{
	border-spacing: 8pt 12pt;
}

table.homeContent td
{
	color: #000000;
	font: 12px Verdana;
}

table.subContent td
{
	color: #000000;
	font: 12px Verdana;
}

table.subContent img
{
	margin: 0px 0px 10px 20px;
}

.copywrite
{
	padding: 7px;
	font: 10px Verdana;
	color: #FFFFFF;
}

.breadcrumb
{
	color: #949694;
}

p.subHeadingText{
	color: #475b4d;
}

h3.welcome{
	margin-top:0px;
}

h3.newsletter
{
	margin-top:0px;
	margin-bottom:8px;
}

h3.subhead{
	margin-top:0px;
}

h3.underline{
	margin-top:0px;
	text-decoration: underline;
}

.login{
	margin-top:10px;
}

.loginbutton{
	margin-top:10px;
	position:right;
}

.loginbutton{
	margin-top:10px;
	position:right;
}

.iWantTo{
	margin-top:10px;
	width:130px;
}

.roundtop { 
	background: url(..image/tr.gif) no-repeat top right; 
}

.roundbottom {
	background: url(..image/br.gif) no-repeat top right; 
}

img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}


a:link.breadcrumb {color: #949694; font-size:12; font-weight:bold; text-decoration: none}
A:visited.breadcrumb {color: #949694; font-size:12; font-weight:bold; text-decoration: none}
A:active.breadcrumb {color: #949694; text-decoration: none}
A:hover.breadcrumb {color: #C6C6C6;}

a:link {color: #DB531F; font-size:12; text-decoration: none}
A:visited {color: #DB531F; font-size:12; text-decoration: none}
A:active {color: #22338B; text-decoration: none}
A:hover {color: #22338B;}

a:link.header {color: #6e2b78; font-size:15; font-weight:bold; text-decoration: none}
A:visited.header {color: #6e2b78; font-size:15; font-weight:bold; text-decoration: none}
A:active.header {color: #6e2b78; text-decoration: none}
A:hover.header {color: #22338B;}




