body{
	background-image:url('../img/mute-stripes.jpg');
	background-repeat:repeat;
} 

div.rounded{
	border:2px solid;
	border-radius:10px;
	width: 80%;
	background-color: #dbd2c8;
	margin-left:auto;
	margin-right:auto;
} 

table.main{
	border: 1px solid black;
	border-collapse: collapse;
	margin: 10px 10px 10px 10px; 
}

table.main th {
	border: 1px solid black;
	background-color: #f79d1e;
	padding: 25px;
	text-align:left;
}

table.main td {
	border: 1px solid black;
	background-color: #f2f0eb;
	padding: 8px;
}

table.main td.header {
	border: 3px solid black;
	font-weight: bold;
	background-color: #f2f0eb;
	padding: 25px;
	color: #915e15;
	font-size:125%;
	text-align:center;
	font-family:"arial";
}

A:link {text-decoration: none; color: #183ee1;}
A:visited {text-decoration: none; color: #183ee1;}
A:active {text-decoration: none; color: #183ee1;}
A:hover {text-decoration: none; color: #5b7fe8;}

