/* Style Sheet for Council Info Website Screen view*/

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

img {
	border: none;
}

/************************* Hide  *********************************/

#logo {
	display: none;
}

/************************* Margins  *********************************/

#nav-site, #nav-tools, #privacy, body, #theme-default, #page, #footer, ul, li {
	clear: both;
	float: none;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	background-color: white;
	background-image: none;
	border: none;
}