/* Style Sheet for Council Info Website Screen view*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #DDDDCC;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

img {
	border: none;
}

th {
	text-align: left;
}

/************************* Accessibility  *********************************/

#top a, #nav-tools h1, #nav-site h1 {
	position: absolute;
	top: -1000px;
}

/************************* Themes  *********************************/

#theme-default {
	width: 960px;
	position: absolute;
	top: 20px;
	left: 20px;
}

/************************* Logo  *********************************/

#logo {
	width: 960px;
	height: 127px;
}

/************************* Site Tools  *********************************/

#nav-tools {
	width: 958px;
	height: 23px;
	border: 1px solid black;
	background-color: #ddcdbc;
	padding: 3px 0px;
}

#nav-tools ul {
	padding: 0px;
	margin: 0px 0px 0px 9px;
	width: 700px;
	float: left;
}

#nav-tools ul li {
	font-size: medium;
	font-weight: bold;
	display: inline;
	border-left: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

#nav-tools ul li:first-child {
	border-left: none;
}

#nav-tools ul li a {
	color: black;
	text-decoration: none;
}

#nav-tools ul li a:active {
	color: black;
	text-decoration: none;
}

#nav-tools ul li a:visited {
	color: black;
	text-decoration: none;
}

#nav-tools ul li a:hover {
	color: #ce802e;
}

#privacy {
	font-size: small;
	font-weight: bold;
	float: right;
	margin: 0px;
	padding: 3px;
}

#privacy a {
	color: black;
	text-decoration: none;
}

#privacy a:active {
	color: black;
	text-decoration: none;
}

#privacy a:visited {
	color: black;
	text-decoration: none;
}

#privacy a:hover {
	color: #ce802e;
}

/************************* Site Navigation  *********************************/

#nav-site {
	float: left;
	background-color: #006666;
	height: 373px;
	width: 190px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

#nav-site ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-color: #e9c57c;
}

#nav-site ul li {
	border-bottom: 1px solid black;
	padding: 9px 18px;
}

#nav-site ul li:hover {
	background-color: #ffd889;
}

#nav-site ul li a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#nav-site ul li a:active {
	color: black;
	text-decoration: none;
}

#nav-site ul li a:visited {
	color: black;
	text-decoration: none;
}

#nav-site ul li a:hover {
	color: black;
	text-decoration: none;
}

#nav-site #ads {
	width: 128px;
	margin-left: auto;
	margin-right: auto;
}

/************************* Content  *********************************/

#page {
	float: right;
	background-color: #F7F7F7;
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 747px;
	padding: 5px 10px 20px 10px;
	min-height: 350px;
	font-size: medium;
}

#page li {
	margin-bottom: 3px;
}

#page table {font-size: small; width: 100%;}
#page table td {padding: 5px;}
#page table tr:hover {background-color: #efefef;}
#page table tr th {background-color: #f7f7f7; padding: 10px 5px; font-size: larger;}
#page table tr th:hover {background-color: #f7f7f7;}

#page a, #page a:active {color: #009; text-decoration: none;}
#page a:hover {color: blue; text-decoration: underline;}
#page a:visited {color: #333;}

#page h2 {font-weight: normal; font-size: x-large;}
#page h3 {font-weight: normal; font-size: large;}
#page h4 {font-weight: bold; font-size: medium;}

/************************* Footer  *********************************/

#footer {
	clear: both;
	border: 1px solid black;
	height: 23px;
	background-color: #ddcdbc;
}
